.title {
    margin:0px;
    text-align: left;
    background: lightblue;
}


.head {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

img {
    padding: 5%;
}

.name {
    list-style: none;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
    vertical-align: middle;
    margin-left: 50px;
}

html {
    background: darkgrey;
}

nav {
    overflow: hidden;
    padding-left: 5%;
    text-align: center;
    height: 50px;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

nav h2{
    display: none;
}

nav li {
    float: left;
    margin-right: 3.5%;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav a {
    text-transform: uppercase;
    display: block;
    color: blue;
    border: none;
    font-size: 1.2em;
}

nav a:hover {
    color: darkred;
}


nav select{
    display: none;
}

#content{
    border-top:1px solid black;
}

body {
    line-height: 1.5;
    position: relative;
    font-weight:normal;
    font-style:normal;
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    background: white;
}


#main_article{
    float: left;
    width: 70.1%;
    padding-left:3.9%;
}

#main_article h2 {
    font-size: 1.4em;
    border-bottom: 2px solid rgb(76, 67, 65);
    margin-top: 1.5em;
}

#main_article p {
    font-size:1em;
    margin: 1.2em 0;
}

#main_article img{
    float: left;
    margin-right: 10px;
}

aside {
    float: right;
    width: 20%;
    padding-right: 5%;
}
aside article{
    background: lightgoldenrodyellow;
    border-radius: 15px;
}
aside h2{
    font-size: 1.3em;
    margin-top: 3em;
    padding-left:2%;
}
aside p{
    font-size:0.9em;
    margin: 1em 0;
    padding: 2%;
}

footer {
  clear: both;
  overflow: hidden;
  height: 50px;
  background: lightgrey;
  text-align: center;
  line-height: 50px;
}



@media screen and (max-width:1200px) {
    body {
        max-width: 640px;
    }

    img {
        width: 50%;
        padding: 5%;
    }

    .head {
        width: 100px;
        display: inline-block;
        list-style: none;
        vertical-align: middle;
    }

    h1 {
        font-size: 1.8em;
        vertical-align: middle;
        margin-left: 0px;
    }

    aside {
        width: 90%;
        clear: both;
        padding-left:3.9%;
        padding-right:0;
        float:left;
    }
    aside h2{
        font-size: 1.4em;
        margin-top: 1.5em;
        padding: 2%;
    }
    aside p{
        font-size:1em;
        margin: 0;
        padding-top:0;
        padding-left: 2%;
    }
    #last{
        margin-bottom:20px;
    }

    #main_article {
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (max-width:768px) {
    body{
        max-width: 450px;
        min-width: 250px;
    }

    h1 {
        font-size: 1.3em;
        display: inline-block;
        vertical-align: middle;
    }

    img {
        width: 60%;
        padding: 3%;
    }

    .photo {
        display: block;
        width: 100%;
    }

    .head {
        width: 60px;
        display: inline-block;
        list-style: none;
        vertical-align: middle;
    }

    nav select{
        display: block;
    }
    nav ul{
        display: none;
    }

    nav select {
        display: block;
        cursor: pointer;
        width: 98%;
        padding:1%;
        border: none;
        background-color: lightgray;
        font-size: 1.2em;
        margin-right: 2%;
    }
}