<!DOCTYPE html>
<html ng-app='app'>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<link rel="stylesheet" href="style.css">
<head/>
<body>

<div class='goods' ng-controller='goodsController'>

	<div class='goods-list' ng-show='showGoods'>

		<input type="text" ng-model='text'>
		<div ng-repeat='item in goods | filter:text'>
			<h2>{{item.name}}</h2>
			<h4>{{item.price}}</h4>
			<button class='delete' ng-click='deleteGoods($index)'>Delete</button>
		</div>
	</div>
	<button ng-click='addGoods()'>Add Goods</button>
	<button ng-click='toggleView()'>View Goods</button>
	<div>
		<h4>Всего: {{goods.length}}</h4>
	</div>
</div>

<div class='cust' ng-controller='customersController'>

	<div class='customers-list' ng-show='showCustomers'>

		<input type="text" ng-model='text.name'>
		<div ng-repeat='person in customers | filter:text'>
			<h2>{{person.name | filterByName}}</h2>
			<h4>{{person.city}}</h4>
			<h4>{{person.age}}</h4>
			<img ng-src="{{person.avatar}}"/>
			<button ng-click='deleteCustomer($index)'>Delete</button>
		</div>
	</div>
	<button ng-click='addCustomer()'>Add Customer</button>
	<button ng-click='toggleView2()'>View Customers</button>
	<div>
		<h4>Всего: {{customers.length}}</h4>
	</div>
</div>

<body/>
	<script src="scripts/app.js"></script>
<html/>
