.goods {
     margin:10px;
     padding: 10px;
     float: left;
     background: lightyellow;
 }

.cust {
    margin:10px;
    padding: 10px;
    float: left;
    background: lightblue;
}

div {
    margin:20px;
}

h2 {
    margin:5px;
}

h4 {
    padding-left: 5px;
    display: inline-block;
    margin:2px;
}