
.title {
    border:1px solid black;
    margin:0px;
}

.name {
    padding-left:50px;
}

.head {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0px;
    margin:0px;
}

.item {
    width:100px;
    list-style: none;
    vertical-align: middle;
    padding:20px;
    padding-left:5px;
    border-bottom:1px solid black;
}