body {
    border:1px solid black;
}

ul {
    text-align: center;
}
.title {
    border:1px solid black;
    margin:0px;
    text-align: left;
}

.name {
    padding-left:50px;
}

.head {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.menu {
    height:400px;
    display: inline-block;
    float: left;
    list-style: none;
    vertical-align: middle;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0px;
    margin:0px;
    background: lightgray;
}

.item {
    width:100px;
    vertical-align: middle;
    padding:20px;
    padding-left:5px;
    border-bottom:1px solid black;
    background: lightgreen;
}

.content {
    height:400px;
    list-style: none;
    padding:0px;
    margin:0px;
    background: lightblue;
}

.set {
    margin:20px;
    padding:20px;
    margin: auto;
}

.set1 {
    height:1px;
    border-bottom:1px solid black;
    margin-left:75px;
}

.set2 {
    height:150px;
    margin:20px;
}

.block1 {
    width:100px;
    display: inline-block;
    vertical-align: middle;
    padding:20px;
    margin-left:20px;
    border:1px solid black;
    background: orange;
}

.block2 {
    vertical-align: middle;
    padding:20px;
    padding-left:5px;
    margin-left:20px;
    border:1px solid black;
    background: mediumpurple;
}

.line2 {
    position: relative;
    top: 50%;
}

.footer {
    clear: both;
    height:100px;
    border:1px solid black;
    padding-left:0px;
    margin:0px;
}

.footer2 {
    height:100px;
    text-align: center;
    line-height: 100px;
    border:1px solid black;
    background: limegreen;
}

.cell {
    height:100px;
    line-height: 100px;
    list-style: none;
    border:1px solid black;
    margin:0px;
    float: left;
    width: 33.2%;
    background: yellow;
}

